.card {
  background: #fff;
  position: relative;
  text-align: left;
  margin: 5px 0px 5px 0px;
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
  padding-inline-start: 10px;
}

.card > .content > ul > li {
  margin-top: 18px;
}